<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div id="app">
    <!-- 类别列表区域 -->
    <div 
      class="goods" 
      v-for="(goods,goodsIndex) in goodsList" 
      :key="goods.id"
    >

      <!-- 每个类别的标题 -->
      <div class="title">
        {{ goods.title }}：
      </div>

      <!-- 类别种类 -->
      <ul class="type-list">
        <li 
          class="type" 
          :class="{active: typeIndex === goods.index}" 
          v-for="(type, typeIndex) in goods.typeList" 
          :key="type"
          @click="addFilterHandle(typeIndex, goods, type, goodsIndex)"
        >{{ type }}</li>
      </ul>

    </div>

    <!-- 已筛选区域 -->
    <div class="choose-type">
      <div>已选条件：</div>
      <span 
        class="no-goods"
        v-if="!showFilterGoods"
        >暂时没有选择过滤条件</span>

      <!-- 放置过滤条件 -->
      <ul 
        class="filter-list"
        v-else=""
        >
        <li v-for="(goodsFilter, goodsFilterKey) in filterObj">
          {{ goodsFilter }}
          <span 
            class="delete-goods"
            @click="deleteFilterGoods(goodsFilterKey), changeShowFilter()"
            >
            <img src="./删除筛选项.png" alt="删除">
          </span>
        </li>
      </ul>

    </div>
  </div>





  <script src="./demo.js"></script>
</body>

</html>